							<!-- Row -->
							<div class="row" id="services">
								<div class="col col-12">
									<div class="aurel-widget-heading aurel_mb_35 aurel_mt_50">
										<div class="aurel_widget_container aurel_text_align_center">
											<h2 class="aurel-heading-title">What we <span class="aurel_color">Do</span></h2>
										</div>
									</div>
								</div>
							</div>

							<!-- Tabs -->
							<div class="row">
								<div class="col col-12">
									<div class="aurel-widget-tabs">
										<div class="aurel_widget_container aurel_mb_35">
											<div class="aurel-tabs">
												<div class="aurel-tabs-wrapper">
													<div class="aurel-tab-title aurel-tab-desktop-title" data-tab="1">Vision</div>
													<div class="aurel-tab-title aurel-tab-desktop-title" data-tab="2">Mission</div>
													<div class="aurel-tab-title aurel-tab-desktop-title" data-tab="3">Approach</div>
												</div>

												<div class="aurel-tabs-content-wrapper">
													<div class="aurel-tab-title aurel-tab-mobile-title">Vision</div>
													<div class="aurel-tab-content aurel-clearfix" data-tab="1">
														
														<p>Fixing <span class="aurel_color">Color</span>‘s vision is to be a boutique color correction service provider working with the most inspiring situations to create the most compelling imagery. Fixing <span class="aurel_color">Color</span> focuses on image excellence and incredible customer service. We go above and beyond for our clients to make sure their time is valued, deadlines are met and the highest quality product is delivered for the most reasonable price. We serve clients anywhere in the world and can be found on several Gig Economy websites.</p>

													</div>

													<div class="aurel-tab-title aurel-tab-mobile-title">Approach</div>
													<div class="aurel-tab-content aurel-clearfix" data-tab="2">

														<p>Fixing <span class="aurel_color">Color</span> takes great care of the development and the quality of our photographic files: All our pictures should be aquired in RAW format with 22 million pixels for best results. We work on every image, one by one, to achieve a professional look. Fixing <span class="aurel_color">Color</span> will deliver digital files optimized and copyright free for your business communication. Images and any lightroom cataloges can be delivered via the platform of your choice, or Dropbox. We specialize in Color Correcting RAW Images and the technical development of High Dynamic Range Photographs.</p>
													</div>

													<div class="aurel-tab-title aurel-tab-mobile-title">Customers</div>
													<div class="aurel-tab-content aurel-clearfix" data-tab="3">


													</div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Row -->
							<div class="row">
								<div class="col col-12">
									<div class="aurel-widget-heading aurel_mb_50">
										<div class="aurel_widget_container aurel_text_align_center">
											<h2 class="aurel-heading-title">What will you <span class="aurel_color">choose?</span></h2>
										</div>
									</div>
								</div>
							</div>

							<!-- Price Tables -->
							<div class="row gutters">
								<div class="col col-4">
									<div class="aurel_widget_pm_price_item">
										<div class="aurel_widget_container aurel_mb_70">
											<div class="aurel_price_item aurel_js_bg_color" data-bgcolor="#1e2022">
												<div class="aurel_price_item_inner">

													<div class="aurel-widget-icon aurel_mb_20">
														<div class="aurel_widget_container">
															<div class="aurel-icon-wrapper">
																<div class="aurel-icon aurel_js_font_size" data-font-size="50px" style="font-size: 50px; line-height: 50px;">
																	<i class="fa fa-photo"></i>
																</div>
															</div>
														</div>
													</div>

													<h5 class="aurel_price_item_title">Color Correction</h5>

													<div class="aurel_price_item_descr">
														<p>Color Correcting RAW images for use in Commercial situations.High Dynamic Range image development.</p>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col col-4">
									<div class="aurel_widget_pm_price_item">
										<div class="aurel_widget_container aurel_mb_70">
											<div class="aurel_price_item aurel_js_bg_color" data-bgcolor="#1e2022">
												<div class="aurel_price_item_inner">

													<div class="aurel-widget-icon aurel_mb_20">
														<div class="aurel_widget_container">
															<div class="aurel-icon-wrapper">
																<div class="aurel-icon aurel_js_font_size" data-font-size="50px" style="font-size: 50px; line-height: 50px;">
																	<i class="fa fa-crop"></i>
																</div>
															</div>
														</div>
													</div>


													<h5 class="aurel_price_item_title">Lightroom Automation</h5>

													<div class="aurel_price_item_descr">
														<p>Image Processing Workflow Automation, Bulk Product Color Corrections and Catalog Image Manipulation.</p>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col col-4">
									<div class="aurel_widget_pm_price_item">
										<div class="aurel_widget_container aurel_mb_70">
											<div class="aurel_price_item aurel_js_bg_color" data-bgcolor="#1e2022">
												<div class="aurel_price_item_inner">

													<div class="aurel-widget-icon aurel_mb_20">
														<div class="aurel_widget_container">
															<div class="aurel-icon-wrapper">
																<div class="aurel-icon aurel_js_font_size" data-font-size="50px" style="font-size: 50px; line-height: 50px;">
																	<i class="fa fa-camera"></i>
																</div>
															</div>
														</div>
													</div>

													<h5 class="aurel_price_item_title">Commercial Photography</h5>

													<div class="aurel_price_item_descr">
														<p>We provide commercial photography services for Real Estate, Manufaturing, Hotel and Tourism industries</p>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
