/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-card {

}

.mat-card-subtitle h2 {
  color:grey;
}

.mat-table {

}

.mat-cell {

}

.mat-dialog-title {
    color:grey;
}

.mat-header-cell {
  size:16px;
  font-weight: bold;

}

.mat-paginator {

}

.mat-table {
    display: table;
    width: 100%;

    > .mat-header-row, > .mat-row {
        display: table-row;
        padding: 0;
        border: none;

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            height: 48px;
            vertical-align: middle;

            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-input-element {

}